<% title "Hosts" %>

<table>
  <tr></tr>
  <tr>
    <th><%= sort :name %></th>
    <th><%= sort :status %></th>
    <th><%= sort :memory %></th>
    <th><%= sort :cores %></th>
    <th><%= sort :created_at, :as => 'Created' %></th>
  </tr>
  <% for host in @hosts %>
    <tr>
      <td><%= host.name %></td>
      <td><%= host.status_name %></td>
      <td><%= memory_column host.memory %></td>
      <td><%= host.num_of_cores %></td>
      <td><%= time_ago_in_words host.created_at %></td>
      <td><%= link_to "Show", host %></td>
      <td><%= link_to "Edit", edit_host_path(host) %></td>
      <td><%= link_to "Destroy", host, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Host", new_host_path(host) %></p>
